{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <span>
            <h1>{{ .Title | markdownify }}</h1>
        </span>
        <span style="display: inline-flex;">
            <img src="{{ .TitleImage}} ">
        </span>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer>
</article>
{{- end -}}
